/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');

/* .littleicon{
    width: 10px;
    height: 10px;
} */
body {
    background-image: url('/style/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin: 0; */
    /* font-family: 'Josefin Sans', sans-serif; */
}

#headerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    margin-bottom: 100px;
}

#linksbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10%;
}

#linksbar a {
    font-family: 'Exo 2', sans-serif;
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    /* cursor: none; */
}

#linksbar a :hover {
    /* font-size: larger; */
    color: orange;
    transition: 1s;
    text-decoration: overline;
    /* text-decoration: underline; */
    /* cursor: none; */
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding: 20px;
    margin: 30px;
    border-style: solid;
    /* font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* .translations img{
 margin: none;
align-content: end; 
    width: 20px;
    height: 20px;
} */

/* header, nav, section, footer {
    padding: 20px;
    margin: 20px;
    
    border-radius: 10px;
} */



/* .dev img{
    width: 10px;
    height: 10px;
} */
#sm {
    width: 15px;
    height: 15px;
}

.container {
    text-align: right;
}

.gennadi-img {
    /* size: 60%; */
    width: 25%;
    margin-right: 10px;
    border-radius: 20px;
    /* opacity: 0.9; */
    /* height: 200px; */
}